<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>travel website</title>
</head>
<body >
    
    <img src="esprit.png" alt="Logo Esprit" height="200"
    width="250">
    <br><br>
    <a href="back office/traveloffer.html">Travel Offers</a> 
        <a href="about.html">About</a> 
        <a href="contact.html">Contact</a> 
        <a href="dashboard.html">Dashboard</a>
        <br><br>
        <h1 align="center">TRAVEL BOOKING </h1>
        <h2 align="center">Family trips - Couples trips - Adventure and sports trips </h2>
        <section>
            <h1 align="center">TRAVEL OFFERS</h1>
        </section>
        <table align="center">
            <tr >
                <td >
                    <img  src="circus.png" alt="circus" height="200"
    width="250">
                </td>
                <td>
                    <img  src="cabin.png" alt="cabin" height="200"
    width="250">
                </td>
                <td>
                    <img src="submarine.png" alt="sub marine" height="200"
    width="250">
                </td>
            </tr>
        </table>
        <section>
            <h1 align="center">About</h1>
            <h4 align="center">
                a travel agency specializing in customized holidays wants to modernize its online booking system . Currently customers have to contact the agency by phone or e-mail to book their trips
            </h4>
        </section>

        <footer>
            <p>you can contact us on : <a href="contact@esprit.tn">contact@esprit.tn</a> </p>
            <p>1,2 rue ampère-2083</p>
            <p>technogical pole el ghazella</p>
            

        </footer>



            


    
</body>
</html>